@font-face { font-family: SF Atarian System; src: url('fonts/SF Atarian System.ttf'); }
@font-face { font-family: Plastic Bag; src: url('fonts/plastic bag.ttf'); }

body {
    background-color: gray;
}

h1 {
    font-family: Plastic Bag;
    font-size: 4em;
}

#title {
    text-align: center;
}

#hex {
    color: #93ca55;
}

#canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: gray;
    display: none;
}

#overlay {
    display: block;
}

#lobby {
    display: none;
}

#form, #lobby {
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
}

#player {
    width: 100%;
}

#code {
    text-transform: uppercase;
}

#join, #create {
    width: 100%;
}

#form table {
    width: 100%;
}

input {
    width: 97%;
}

#room {
    position: fixed;
    left: 10px;
    top: 0px;
}

#round {
    position: fixed;
    right: 10px;
    top: 0px;
}

.green {
    color: lightgreen;
}

.red {
    color: red;
}
