@font-face {
    font-family: SF Atarian System;
    src: url('fonts/SF Atarian System.ttf');
}

@font-face {
    font-family: Plastic Bag;
    src: url('fonts/plastic bag.ttf');
}

body {
    background-color: gray;
}

h1 {
    font-family: Plastic Bag;
    font-size: 4em;
}

#title {
    text-align: center;
}

#hex {
    color: #93ca55;
}

#background, #shadow, #canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#background {
    z-index: -3;
    filter: blur(5px);
}

#shadow {
    z-index: -2;
    filter: blur(5px) opacity(75%);
}

#canvas {
    z-index: -1;
}

#overlay {
    display: block;
    position: fixed;
    top: 10%;
    left: 33%;
    width: 33vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
}

#lobby {
    display: none;
}

#form, #lobby {
    width: 80%;
    margin-left: 10%;
}

#player {
    width: 100%;
}

#code {
    text-transform: uppercase;
}

#join, #create {
    width: 100%;
}

#form table {
    width: 100%;
}

input {
    width: 97%;
}

#room {
    position: fixed;
    left: 10px;
    top: 0;
}

#round {
    position: fixed;
    right: 10px;
    top: 0;
}

.green {
    color: lightgreen;
}

.red {
    color: red;
}

#error {
    position: fixed;
    right: 1%;
    top: 40px;
    border-collapse: separate;
    border-spacing: 0;
}

#error tr td {
    background-color: red;
    padding: 10px;
}

#error tr {
    margin-bottom: 10px;
}

#error tr td:first-child {
    border-left: solid red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

#error tr td:last-child {
    border-right: solid red;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.spacer {
    height: 7px;
}

#error tr {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#error tr.remove {
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#points {
    position: fixed;
    left: 10px;
    top: 5%;
}

#musictoggle {
    position: fixed;
    right: 10px;
    top: 25px;
}

